body {
    background-color:#4b72b6; font-family: Verdana ; color:#100f0f    
}

p,ul {
    font-family: Verdana;
    font-size: 14px;
}
.copyright {
    font-style: italic;
    font-size:10px;
}
p a {
    color :#72056d;

}
ul{
    
    list-style-position: inside;
    text-align:center;
    
}









