body {
    background-color:#3ccece;  color:#000000
}

h1{
    font-family:,'Times New Roman', 'Times, serif';
}

p,ul{
    font-family:Arial;
}

ul{  
    list-style-type:none;
    text-align:center;   
}

li::first-letter{
    font-size:26px;
}
