body {
    background-color: #364371;
    font-family: Arial, Helvetica, sans-serif;
   
}
main{
    width:700px;
}
nav{
    float:left;
    background-color:#B0CFFF;
    padding:20px;
    height: 364px;
}

article {
    background-color: #5B7FBD;
    
}

p + ul {
    list-style-type: none;
    text-align: center;
}

p {
    text-align: center;
}
.copyright{
    background-color:#364371;
    text-align:right;
}
