body {
    background-color: #1a2d5b;
    font-family: Arial,Arial, Helvetica, sans-serif;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 100px;
    column-count: 2;
}

#wrap {
    
    background-color: #91c4de;
}

article {
    background-color: #4655b4;
}

p + ul {
    list-style-type: none;
    text-align: center;
}

p {
    text-align: center;
}
